
.attachment--title {
    margin-bottom: 2em;
}

.icon--file {
    position: relative;
    float: left;
    margin-right: .7em;
}

.icon--file img {
    display: block;
    width: 30px;
    height: 39%;
    background: #fff;
    margin-top: -8px;
}

.ras-top-margin {
    margin-top: 1.1em;
}

.ras-top-margin-small {
    margin-top: 0.5em;
}


.ras-top-margin-big {
    margin-top: 1.5em;
}

.dob-field{
  display: inline-block;
  margin-bottom: 0px;
}

#dob_hint{
  margin-top:0px;
}

.form-hint{
  margin-top:0px;
}

.form-field--error{
  border-left: 5px solid #b10e1e;
  padding-bottom: 0px;
  padding-top: 0px;
}

.validation-summary{
  border: 5px solid #b10e1e;
  font-weight: bold;
  font-size:19px;
}

.form-control-error {
    border: 4px solid #b10e1e;
}

input:focus {
    outline-offset: 0;
}

#choose-file {
  display: block;
  border: 0px;
}

.error-list{
  font-weight: bold;
  color: #b10e1e;
}

.continue-div{
  padding-top: 20px;
}

.content__body {
    width: 100%;
}

.common-error {
    color: #A80F1C;
    font-weight: bold;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.ras-remove-left-grid {
    margin: 0 0px;
}

.ras-align-text-left {
    padding: 0 0px;
}

.ras-align-right {
    text-align: right;
}

.ras-div-table-divider {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.ras-column-one-sixth {
    float: left;
    width: 16.66%;
}

.ras-bottom-margin {
    margin-bottom: 2em;
}

.ras-bottom-margin-big {
    margin-bottom: 3em;
}

@media (min-width: 641px)
.ras-form-group {
    margin-bottom: 15px;
}

.ras-form-group {
    margin-bottom: 15px;
    box-sizing: border-box;
}

.small-margin-top {
    margin-top: .2em;
}

.no-margin {
    margin: 0;
}

@media (min-width: 641px)
.task-list-section {
    font-size: 24px;
    line-height: 1.25;
}

.task-list-section {
    display: table;
    font-family: "nta", Arial, sans-serif;
    font-weight; 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.25;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 2.5em;
}

.task-list-item:first-child {
    border-top: 1px solid #bfc1c3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}

@media (min-width: 641px)
.task-list {
    margin-top: 60px;
}

.task-list {
    margin-top: 30px;
}

.task-list-item:last-child {
    border-bottom: 1px solid #bfc1c3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}

.task-name {
    width: 66.66667%
    float: left;
}

@media (min-width: 641px)
.column-minimum {
    min-width: 600px;
}

@media (min-width: 641px)
.task-list-section {
   font-size: 24px;
   line-height: 1.25;
}

.task-completed {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #005ea5;
    float: right;
    margin-right: 0;
    padding-top: 3px;
}

@media (min-width: 641px)
.task-completed {
    font-size: 16px;
    line-height: 1.25;
}


