.spacelarge {
    margin-bottom: 1.1em;
}

.ras-top-margin {
    margin-top: 1.1em;
}

#wrapper{
  text-align:left;
}

.dob-field{
  display: inline-block;
  margin-bottom: 0px;
}

#dob_hint{
  margin-top:0px;
}

#dob-legend{
  margin-bottom:0px;
  font-weight:bold;
}

.form-hint{
  margin-top:0px;
}

.form-field--error{
  border-left: 5px solid #b10e1e;
  padding-bottom: 0px;
  padding-top: 0px;
}

.form-field--error .error-notification{
  font-size:19px;
  color: #A80F1C;
  font-weight: bold;
}

.validation-summary{
  border: 5px solid #b10e1e;
  font-weight: bold;
  font-size:19px;
}

.validation-summary a, .validation-summary .link-style, .validation-summary .button--link-style{
  color: #b10e1e;
}

.form-control-error {
    border: 4px solid #b10e1e;
}

input:focus {
    outline-offset: 0;
}

.large-underlined-link {
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
}

.numeric {
  text-align: right;
  padding-right: 20px;
}

#choose-file {
  display: block;
  /*margin-bottom: 20px;*/
  border: 0px;
}

.content__body{
  width: 100%;
}

.grid-layout--no-gutter{
  width:66.66%;
}

#recent-lookups-table{
 padding-right:20px;
}

#more-results-link{
  float:right;
}

.error-list{
  font-weight: bold;
  color: #b10e1e;
}

#document-div {
  padding-top: 20px;
  width: 22%;
  float:left;
}

#document-div h2 {
  font-size: 19px;
  margin-top: 0px;
}

#document-image-div {
  padding-top: 20px;
  float:left;
}

#result-link-div {
  padding-top: 20px;
  overflow: hidden;
  padding-left: 20px;
}

.continue-div{
  padding-top: 20px;
}

#document-image{
    display: block;
    width: 99px;
    height: 140px;
    background: #fff;
    outline: 5px solid rgba(11,12,12,0.1);
    -webkit-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
    -moz-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
    box-shadow: 0 2px 2px rgba(11,12,12,0.4);
}

.common-error {
    color: #A80F1C;
    font-weight: bold;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.ras-div-table-divider {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.ras-align-right {
    text-align: right;
}

.ras-div-table-divider {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.ras-column-one-sixth {
    float: left;
    width: 16.66%;
}

.ras-bottom-margin {
    margin-bottom: 2em;
}

.ras-bottom-margin-big {
    margin-bottom: 3em;
}