.attachment--title {
    margin-bottom: 2em;
}

.icon--file {
    position: relative;
    float: left;
    margin-right: .7em;
}

.icon--file img {
    display: block;
    width: 30px;
    height: 39%;
    background: #fff;
    margin-top: -8px;
}

.task-name {
    width: 66.66667%;
    float: left;
}

@media (min-width: 641px) {
    .column-minimum {
        min-width: 600px;
    }
}

.task-completed {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #005ea5;
    float: right;
    margin-right: 0;
    padding-top: 3px;
}

@media (min-width: 641px) {
    .task-completed {
        font-size: 16px;
        line-height: 1.25;
    }
}

.govuk-header__content {
    display: flex;
    align-items: center;
}

.hmrc-sign-out-nav {
    margin-top: 0 !important;
    padding-top: 0 !important;
    display: flex;
    align-items: center;
}

.hmrc-sign-out-nav__link,
.hmrc-sign-out-nav a {
    display: inline-flex;
    align-items: center;
    line-height: 1.25 !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}
